##### Pandas is python library used for data analysis tasks. It has some predefined function used for different type of operations.
##### Types of Data we can deal with in data science are
##### 1. Tabular Data in form of csv, excel files
##### 2. Textual Data in form of document, pdf
##### 3. Images Data
##### 4. Videos

##### Pandas Usually used for tabular type data csv, excel etc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mushroom_csv.csv')
df

,cap-shape,cap-surface,cap-color,bruises%3F,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
0,x,s,n,t,p,f,c,n,k,e,...,w,w,p,w,o,p,k,s,u,p
1,x,s,y,t,a,f,c,b,k,e,...,w,w,p,w,o,p,n,n,g,e
2,b,s,w,t,l,f,c,b,n,e,...,w,w,p,w,o,p,n,n,m,e
3,x,y,w,t,p,f,c,n,n,e,...,w,w,p,w,o,p,k,s,u,p
4,x,s,g,f,n,f,w,b,k,t,...,w,w,p,w,o,e,n,a,g,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,k,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,b,c,l,e
8120,x,s,n,f,n,a,c,b,y,e,...,o,o,p,n,o,p,b,v,l,e
8121,f,s,n,f,n,a,c,b,n,e,...,o,o,p,o,o,p,b,c,l,e
8122,k,y,n,f,y,f,c,n,b,t,...,w,w,p,w,o,e,w,v,l,p
8123,x,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,o,c,l,e

In [3]:
# getting the rows of pandas data frames
df.iloc[0] # return 0 row data
df.iloc[0:6] # return data from 0 to 5th row

,cap-shape,cap-surface,cap-color,bruises%3F,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
0,x,s,n,t,p,f,c,n,k,e,...,w,w,p,w,o,p,k,s,u,p
1,x,s,y,t,a,f,c,b,k,e,...,w,w,p,w,o,p,n,n,g,e
2,b,s,w,t,l,f,c,b,n,e,...,w,w,p,w,o,p,n,n,m,e
3,x,y,w,t,p,f,c,n,n,e,...,w,w,p,w,o,p,k,s,u,p
4,x,s,g,f,n,f,w,b,k,t,...,w,w,p,w,o,e,n,a,g,e
5,x,y,y,t,a,f,c,b,n,e,...,w,w,p,w,o,p,k,n,g,e

In [14]:
# getting the cols of pandas data frame
df['cap-shape'] # return series with data of cap-shape column
df.columns # return pandas obj which is iterator having column name in dataset
df.loc[:,'cap-shape':'cap-color'] # first you have to write how many rows you need and after comma you need to tell which col slice you need
df.iloc[:,2:5] # with iloc and loc you can get the slice of row and col but in iloc you have to specify index but in loc you have to specify names

     cap-color bruises%3F odor
0            n          t    p
1            y          t    a
2            w          t    l
3            w          t    p
4            g          f    n
...        ...        ...  ...
8119         n          f    n
8120         n          f    n
8121         n          f    n
8122         n          f    y
8123         n          f    n

[8124 rows x 3 columns]

##### Probability of mushroom to be poissonous
$$
P(class ='p') = \frac {num\;of \;mushroom \;with \;p}{total \;num \;of \;sample}
$$

In [21]:
print('Answer: ',df[df['class']=='p'].shape[0]/df.shape[0])

Answer:  0.48202855736090594

\begin{align}
P(cap-shape = x \cap cap-surface = y \cap cap-color = w | class = p) = \frac{P(cap-shape = x \cap cap-surface = y \cap cap-color \cap class = p)}{P(class = p)}
\end{align}

In [34]:
print("Answer: ", (df[(df['cap-shape']=='x') & (df['cap-color']=='w') & (df['cap-surface']=='y') & (df['class']=='p')].shape[0] / df.shape[0]) / (df[df['class']=='p'].shape[0]/df.shape[0]))

Answer:  0.008171603677221655

In [37]:
# getting the last and first rows of data frame
df.head() # by default shows first 5 rows and you can also give how many you want df.head(10)
df.tail() # by default shows last  5 rows and you can also give how many you want df.tail(10)

,cap-shape,cap-surface,cap-color,bruises%3F,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
8119,k,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,b,c,l,e
8120,x,s,n,f,n,a,c,b,y,e,...,o,o,p,n,o,p,b,v,l,e
8121,f,s,n,f,n,a,c,b,n,e,...,o,o,p,o,o,p,b,c,l,e
8122,k,y,n,f,y,f,c,n,b,t,...,w,w,p,w,o,e,w,v,l,p
8123,x,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,o,c,l,e

In [47]:
# creating your dataframe using dictionary and append function
df1 = pd.DataFrame(data={"Col 1":[1,2,3,5],"Col 2":[4,5,6,7]})
df2 = pd.DataFrame(data={"Col 1":[4,5,6,7],"Col 3":[1,2,3,6]})
df3 = df1.append(df2)

C:\Users\Usman\AppData\Local\Temp\ipykernel_4584\1994026346.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   Col 1  Col 2  Col 3
0      1    4.0    NaN
1      2    5.0    NaN
2      3    6.0    NaN
3      5    7.0    NaN
0      4    NaN    1.0
1      5    NaN    2.0
2      6    NaN    3.0
3      7    NaN    6.0

In [53]:
# adding a col in existing data frame
df1['col 3'] = [1,2,3,4]

In [54]:
df1

   Col 1  Col 2  col 3
0      1      4      1
1      2      5      2
2      3      6      3
3      5      7      4

In [58]:
# apply any function on rows or col of dataframe using apply functions
df1.apply(lambda x: x**2,axis=1)

   Col 1  Col 2  col 3
0      1     16      1
1      4     25      4
2      9     36      9
3     25     49     16

In [59]:
# apply any function on each element of dataframe using applymap function
df1.applymap(lambda x:x**2)

   Col 1  Col 2  col 3
0      1     16      1
1      4     25      4
2      9     36      9
3     25     49     16

In [60]:
# get the descripting statistics of data frame
df1.describe()

          Col 1     Col 2     col 3
count  4.000000  4.000000  4.000000
mean   2.750000  5.500000  2.500000
std    1.707825  1.290994  1.290994
min    1.000000  4.000000  1.000000
25%    1.750000  4.750000  1.750000
50%    2.500000  5.500000  2.500000
75%    3.500000  6.250000  3.250000
max    5.000000  7.000000  4.000000

In [61]:
# get the first order diff
df1.diff(periods=1)

   Col 1  Col 2  col 3
0    NaN    NaN    NaN
1    1.0    1.0    1.0
2    1.0    1.0    1.0
3    2.0    1.0    1.0

In [71]:
# drop columns and rows
df1.drop(labels=[0,1],axis=0)
df1.drop(labels=['col 3'],axis=1)

   Col 1  Col 2
0      1      4
1      2      5
2      3      6
3      5      7

In [75]:
# drop nan
df1.diff().dropna(axis=0)

   Col 1  Col 2  col 3
1    1.0    1.0    1.0
2    1.0    1.0    1.0
3    2.0    1.0    1.0

In [76]:
# remove duplicate
df1.drop_duplicates()

   Col 1  Col 2  col 3
0      1      4      1
1      2      5      2
2      3      6      3
3      5      7      4

In [85]:
# fill nan values
df1.diff().fillna(method='backfill',axis=0)

   Col 1  Col 2  col 3
0    1.0    1.0    1.0
1    1.0    1.0    1.0
2    1.0    1.0    1.0
3    2.0    1.0    1.0

In [92]:
# groupby on pandas data frame
df.groupby(by='class').count()

,cap-shape,cap-surface,cap-color,bruises%3F,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
class,,,,,,,,,,,,,,,,,,,,,
e,4208,4208,4208,4208,4208,4208,4208,4208,4208,4208,...,4208,4208,4208,4208,4208,4208,4208,4208,4208,4208
p,3916,3916,3916,3916,3916,3916,3916,3916,3916,3916,...,3916,3916,3916,3916,3916,3916,3916,3916,3916,3916

In [93]:
# multilevel indexing or you can say group by
df.groupby(['class','cap-shape']).count()

                 cap-surface  cap-color  bruises%3F  odor  gill-attachment  \
class cap-shape
e     b                  404        404         404   404              404
      f                 1596       1596        1596  1596             1596
      k                  228        228         228   228              228
      s                   32         32          32    32               32
      x                 1948       1948        1948  1948             1948
p     b                   48         48          48    48               48
      c                    4          4           4     4                4
      f                 1556       1556        1556  1556             1556
      k                  600        600         600   600              600
      x                 1708       1708        1708  1708             1708

                 gill-spacing  gill-size  gill-color  stalk-shape  stalk-root  \
class cap-shape
e     b                   404        404         404          404         260
      f                  1596       1596        1596         1596        1460
      k                   228        228         228          228          20
      s                    32         32          32           32          32
      x                  1948       1948        1948         1948        1716
p     b                    48         48          48           48          40
      c                     4          4           4            4           4
      f                  1556       1556        1556         1556         972
      k                   600        600         600          600          16
      x                  1708       1708        1708         1708        1124

                 ...  stalk-surface-below-ring  stalk-color-above-ring  \
class cap-shape  ...
e     b          ...                       404                     404
      f          ...                      1596                    1596
      k          ...                       228                     228
      s          ...                        32                      32
      x          ...                      1948                    1948
p     b          ...                        48                      48
      c          ...                         4                       4
      f          ...                      1556                    1556
      k          ...                       600                     600
      x          ...                      1708                    1708

                 stalk-color-below-ring  veil-type  veil-color  ring-number  \
class cap-shape
e     b                             404        404         404          404
      f                            1596       1596        1596         1596
      k                             228        228         228          228
      s                              32         32          32           32
      x                            1948       1948        1948         1948
p     b                              48         48          48           48
      c                               4          4           4            4
      f                            1556       1556        1556         1556
      k                             600        600         600          600
      x                            1708       1708        1708         1708

                 ring-type  spore-print-color  population  habitat
class cap-shape
e     b                404                404         404      404
      f               1596               1596        1596     1596
      k                228                228         228      228
      s                 32                 32          32       32
      x               1948               1948        1948     1948
p     b                 48                 48          48       48
      c                  4                  4           4        4
      f               1556               1556        1556     1556
      k                600                600         600      600
      x               1708               1708        1708     1708

[10 rows x 21 columns]

In [96]:
df1

   Col 1  Col 2  col 3
0      1      4      1
1      2      5      2
2      3      6      3
3      5      7      4

In [103]:
# getting max from data frame col wise or row wise
df1.max(axis=0)

Col 1    5
Col 2    7
col 3    4
dtype: int64

In [105]:
df1.shift()

   Col 1  Col 2  col 3
0    NaN    NaN    NaN
1    NaN    NaN    NaN
2    1.0    4.0    1.0
3    2.0    5.0    2.0